.login_form{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 700px) {
    .login_form{
        width:90%;
    }
}
@media (max-width: 900px) {
    .login_form{
        width:50%;
    }
}
